.logo-td {
    width: 35px;  
    height : 35px
}
.add-icon{
    float: right;
}
.grid-table{
    width: 100%;
    height: calc(100vh - 300px);
  }
  .medication-content{
      display: flex;
      flex-direction: column;
      justify-self: start;
      padding-left: 15px;
      >div {
          width: 100%;
          font-size: 12px;
      }
  }
.textArea {
    width: 100%;
    height: auto;
}
.full-width {
  width: 100% !important;
}
.k-autocomplete {
    font-size: 12px !important;
}
.rowContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    p{
        font-size: 12px !important;
    }
  
}
.name {
    font-size: 13px;
    font-weight: bold;
}
.MuiTypography-body1{
    font-size: 13px !important;
}
.gridItem {
    >div {
        padding: 10px 0px !important;
    }
    .user-logo{
       
        padding: 5px;
        img{
            border-radius: 50px !important;
        }
    }
}
.order-detail {
    background-color:#e0e0e04d !important;
    overflow: auto
}
.font-2  {
    font-size: 14px;
    font-weight: bold;
    color: rgba(10, 10, 10, 0.589);
    p{
        font-size: 14px !important;
        font-weight: bold;
        color: rgba(10, 10, 10, 0.589); 
    }
}
.warp-row {
 display: flex;
 width: 100%;
 justify-content: start;
 flex-wrap: wrap;
}
.textArea {
    background: #f1f1f1c9 !important;
}
.buttonContainer {
    display: flex;
    justify-content: start;
    margin-top: 17px;
}
.comment {
    margin: 21px 0px;
    word-wrap: break-word;
}