.logo-td {
    width: 35px;  
    height : 35px
}
.add-icon{
    float: right;
}
.grid-table{
    width: 100%;
    height: calc(100vh - 300px);
  }
  .medication-content{
      display: flex;
      flex-direction: column;
      justify-self: start;
      padding-left: 15px;
      >div {
          width: 100%;
          font-size: 12px;
      }
  }
.textArea {
    width: 100%;
    height: auto;
}
.full-width {
  width: 100% !important;
}
.k-autocomplete {
    font-size: 12px !important;
}
.rowContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    p{
        font-size: 14px !important;
    }
  
}
.name {
    font-size: 14px;
    font-weight: bold;
}
.MuiTypography-body1{
    font-size: 14px !important;
}
.gridItem {
    >div {
        padding: 10px 0px !important;
    }
  
}
.user-logo{
       
    padding: 5px;
    img{
        border-radius: 50% !important;
    }
}
.order-detail {
    background-color:#e0e0e04d !important;
    overflow: auto
}
.font-2  {
    font-size: 14px;
    font-weight: bold;
    color: rgba(10, 10, 10, 0.589);
    p{
        font-size: 14px !important;
        font-weight: bold;
        color: rgba(10, 10, 10, 0.589); 
    }
}
.warp-row {
 display: flex;
 width: 100%;
 justify-content: start;
 flex-wrap: wrap;
}
.textArea {
    background: #f1f1f1c9 !important;
}
.buttonContainer {
    display: flex;
    justify-content: start;
    margin-top: 17px;
}
.comment {
    margin: 21px 0px;
    word-wrap: break-word;
}
.pointer {
    cursor: pointer;
    color: blue !important;
}
.createBtn {
    display: flex;
    justify-content: end;
}
.MuiDialog-paperWidthSm {
    max-width: 1024px !important;
    .note-toolbar {
        background: #eae6e6;
        border: 1px solid #dad7d7;
    }
}
@media (min-width: 1280px)
{   
    .MuiGrid-grid-lg-10 {
        flex-grow: 0;
        max-width: 78% !important;
        flex-basis: 78% !important;
    }
    .MuiGrid-grid-lg-2 {
        flex-grow: 0;
        max-width: 22% !important;
        flex-basis: 22% !important;
    }
 
}
@media (min-width: 1680px)
{   
    .MuiGrid-grid-lg-10 {
        flex-grow: 0;
        max-width: 82% !important;
        flex-basis: 82% !important;
    }
    .MuiGrid-grid-lg-2 {
        flex-grow: 0;
        max-width: 18% !important;
        flex-basis: 18% !important;
    }
 
}
.box {
    margin-top: 10px;
    padding: 30px 30px 30px 0px;
    width: 61%;
    >div {
        padding: 10px 10px 10px 0px;
    }
}
.p-10 {
    padding: 10px !important;
}
.closeBtn {
    float: right;
    color: white;
}
.talbeRow {
    cursor: pointer;
}
.title-content{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
}
.title {
    font-size: 20px;
    text-align: center;
    padding: 10px;
}
.MuiTableCell-body .MuiSvgIcon-root{
    margin: 5px;
}