/*
    Use the DejaVu Sans font for displaying and embedding in the PDF file.
    The standard PDF fonts do not support Unicode characters.
*/
p {
    font-family: "DejaVu Sans", "Arial", sans-serif;  
}
main{
    overflow-y: auto;
}
/*
    The example loads the DejaVu Sans from the Kendo UI CDN.
    Other fonts have to be hosted from your application.
    The official site of the Deja Vu Fonts project is
    https://dejavu-fonts.github.io/.
*/
@font-face {
    font-family: "DejaVu Sans";
    src: url("https://kendo.cdn.telerik.com/2017.2.621/styles/fonts/DejaVu/DejaVuSans.ttf") format("truetype");
}

@font-face {
    font-family: "DejaVu Sans";
    font-weight: bold;
    src: url("https://kendo.cdn.telerik.com/2017.2.621/styles/fonts/DejaVu/DejaVuSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "DejaVu Sans";
    font-style: italic;
    src: url("https://kendo.cdn.telerik.com/2017.2.621/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf") format("truetype");
}

@font-face {
    font-family: "DejaVu Sans";
    font-weight: bold;
    font-style: italic;
    src: url("https://kendo.cdn.telerik.com/2017.2.621/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf") format("truetype");
}
.send{
    background: #8adc8a;
    border-radius: 29px;
    font-size: 12px;
    width: 50px;
    text-align: center;
    padding: 1px;
   
}
.notsend {
    background: #ff0000a6;
    border-radius: 29px;
    width: 50px;
    font-size: 12px;
    text-align: center;
    padding: 1px;
}
.order-page {
    .MuiOutlinedInput-inputMultiline {
        min-width: 180px !important;
    }
}

.logo-td {
    width: 35px;  
    height : 35px
}
.add-icon{
    float: right;
}
.grid-table{
    width: 100%;
    height: calc(100vh - 300px);
  }
  .medication-content{
      display: flex;
      flex-direction: column;
      justify-self: start;
      padding-left: 15px;
      >div {
          width: 100%;
          font-size: 12px;
      }
  }
  .MuiBox-root{
    p{
        margin-bottom: 0px !important;      
    }
}
.textArea {
    width: 100%;
    height: auto;
}
.full-width {
  width: 100% !important;
}
.k-autocomplete {
    font-size: 12px !important;
}
.rowContainer {
    display: flex;
    justify-content: left;
    width: 100%;
    p{
        font-size: 14px !important;
    }
  
}
.name {
    font-size: 14px;
    font-weight: bold;
}
.MuiTypography-body1{
    font-size: 14px !important;
}
.gridItem {
    >div {
        padding: 10px 0px !important;
    }
  
}
.user-logo{
       
    padding: 5px;
    img{
        border-radius: 50% !important;
    }
}
.order-detail {
    background-color:#e0e0e04d !important;
    overflow: auto;
    .MuiTypography-h4{
        font-size: 150%;
    }
    .logo-mini{
        img{
            height: 60px;
            width: auto;
        }
      
    }
}
.font-2  {
    font-size: 14px;
    font-weight: bold;
    color: rgba(10, 10, 10, 0.589);
    p{
        font-size: 14px !important;
        font-weight: bold;
        color: rgba(10, 10, 10, 0.589); 
    }
}
.warp-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 24px;
    div{
        color: white;
    font-weight: 300;
    }
}
.textArea {
    background: #f1f1f1c9 !important;
}
.buttonContainer {
    display: flex;
    justify-content: start;
    margin-top: 17px;
}
.comment {
    margin: 21px 0px;
    word-wrap: break-word;
}
.pointer {
    cursor: pointer;
    color: blue !important;
}
.createBtn {
    display: flex;
    justify-content: end;
}
.MuiDialog-paperWidthSm {
    max-width: 835px !important;
    .note-toolbar {
        background: #eae6e6;
        border: 1px solid #dad7d7;
        text-align: left;
    }
}
.patient-container {
    .k-autocomplete {
        width: auto !important;
        min-width: 120px;
    }
    .k-multiselect, .k-dropdowntree {
        min-width: 150px;
    }
}
@media (min-width: 1280px)
{   
    .MuiGrid-grid-lg-10 {
        flex-grow: 0;
        max-width: 78% !important;
        flex-basis: 78% !important;
    }
    .MuiGrid-grid-lg-2 {
        flex-grow: 0;
        max-width: 22% !important;
        flex-basis: 22% !important;
    }
 
}
@media (min-width: 1680px)
{   
    .MuiGrid-grid-lg-10 {
        flex-grow: 0;
        max-width: 82% !important;
        flex-basis: 82% !important;
    }
    .MuiGrid-grid-lg-2 {
        flex-grow: 0;
        max-width: 18% !important;
        flex-basis: 18% !important;
    }
 
}
@media (max-width: 768px)
{   
    .patient-detail{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        >div{
            width: 100%;
        }
    }
 
}
.box {
    margin-top: 10px;
    padding: 30px 30px 30px 0px;
    width: 61%;
    >div {
        padding: 10px 10px 10px 0px;
    }
}
.p-10 {
    padding: 10px !important;
}
.closeBtn {
    float: right;
    color: white;
}
.pointerIcon {
    cursor: pointer;
}
.title-content{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
}
.title {
    font-size: 16px;
    text-align: left;
    padding: 0px;
    color: black;
    font-weight: bold;
}
.MuiTableCell-body .MuiSvgIcon-root{
    margin: 5px;
}
.carefolderContainer {
    max-width: 650px;
    margin: 0 auto;


}
.key-animation-container-shown{
    z-index: 500 !important;
    
}
.note-editable {
    height: 100% !important;
    min-height: 400px;
}
.downloadPaper {
    max-width: 895px !important;
    .pageContainer {
        min-height: 1123px;
        margin: 10px 0px;
        // .contentHtml {
        //     min-height: 800px;
        // }
    }    
}

.serviceContainer {
    display: flex;
    justify-content: space-evenly;
    svg{
        cursor: pointer;
    }
    >div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.headerBar {
    display: flex;
    justify-content: left;
    align-items: baseline;
    height: 50px;
    >h5 , div {
        margin-top: auto;
        margin-bottom: auto;
        color : #ff6a00;
        font-size: 13px;
    }
    img {
        margin-right: 30px;       
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }
}
.footerBar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
       color : #ff6a00
}
html{
    @page {
        margin:20 !important;
        padding: 0px 0px 0px 0px !important;
    }
}
.note-editing-area {
    text-align: left !important;
}
.triggerContainer {
    .MuiGrid-container {
        display: flex;
        justify-content: space-around !important;
        li{
            cursor: pointer;
            padding: 20px 0px;
            .MuiSvgIcon-root {
                font-size: 40px;
            }
        }
        .MuiCardContent-root {
            height: 100%;
        }
        .previewPanel {
            height: 100% !important;
            display: flex !important;
            flex-direction: column !important;
            justify-content: space-evenly !important;
           .triggerTitle {
            font-size: 20px;
            font-weight: 500;
            color: #1357ff;
            padding: 10px;
           }
          
            .k-multiselect-wrap ,.k-autocomplete{
           
                width: 100%;
                font-size: 12px;
                margin-left: 10px;
            }
            .MuiBox-root-636 , .MuiBox-root-637 .MuiBox-root-638{
                text-align: center;
                font-weight: bold;
                font-size: 15px;
            }
            .MuiPaper-elevation1 {
                margin-bottom: 20px;
            }
        }
    }
}

.orderdetail {
    .title-fontSize {
        font-size: 32px;
        padding: 0px !important;
        .titlecolor{
            color: #505761;
        }
    }
    .content-fontSize {            
         font-size: 20px;
    }
    .gridItem {
        position: relative;
        .header {
            display: flex;
            justify-content: space-between;
            >div{
                width: 30%;
                margin: auto 0px;
                font-weight: bold;
            }
           
        }
        .printBtn {
            width: 100px;
            top: 50px;
            right: -10px;
            position: absolute;
            .MuiSvgIcon-root {
                font-size: 2.7rem;
            }
        }
        .patient {

        }
        .medication {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
         .MuiCard-root {
            width: 329px !important;
            border-radius: 10px;
            margin: 30px 0px;
         }
         
        }
     
      
    }
    .gridItem-right {
        background-color: #4d7df2 !important;
        padding: 100px 48px 60px 62px !important;
        .title-fontSize {
            color: white;

        }
        .MuiTypography-root {
            color: white;
        }
        >.MuiBox-root {
            margin: 30px 0px;
        }
    }
   
}
.title-content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    >div {
        width: 50%;
    }
}

@media (max-width: 768px){
    .MuiBox-root-532 {
        padding: 60px !important;
    }
    .orderdetail {
        .title-fontSize {
            font-size: 6vw;
            padding: 0px !important;
            .titlecolor{
                color: #505761;
            }
        }
        .content-fontSize {            
             font-size: 12px;
        }
        .gridItem {
            position: relative;
            .header {
                display: flex;
                justify-content: space-between;
                >div{
                    width: 100%;
                    margin: auto 0px;
                }
                margin-bottom: 30px;
               
            }
            .printBtn {
                width: 100px;
                top: 84px;
                left: 18px;
                right: 0px;
                position: absolute;
                .MuiSvgIcon-root {
                    font-size: 2rem;
                }
                cursor: pointer;
            }
            .patient {
    
            }
            .medication {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
             .MuiCard-root {
                width: 329px !important;
                border-radius: 10px;
                margin: 30px 0px;
             }
             
            }
         
            .MuiOutlinedInput-notchedOutline{
                border-color: white;
            }
        }
        .gridItem-right {
            background-color: #4d7df2 !important;
            padding: 20px !important;
            .title-fontSize {
                color: white;
    
            }
            .MuiTypography-root {
                color: white;
            }
            >.MuiBox-root {
                margin: 30px 0px;
            }
        }
       
    }
    .title-content {
        display: flex;
        justify-content: space-around;
        width: 100%;
        flex-wrap: wrap;
        >div {
            width: 100%;
        }
    }
    
}
