.logo-td {
    width: 35px;  
    height : 35px
}
.add-icon{
    float: right;
}
.grid-table{
    width: 100%;
    height: calc(100vh - 300px);
  }
  .medication-content{
      display: flex;
      flex-direction: column;
      justify-self: start;
      padding-left: 15px;
      >div {
          width: 100%;
          font-size: 12px;
      }
  }
.textArea {
    width: 100%;
    height: auto;
}
.full-width {
  width: 100% !important;
}
.k-autocomplete {
    font-size: 12px !important;
}
.rowContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    p{
        font-size: 14px !important;
    }
  
}
.name {
    font-size: 14px;
    font-weight: bold;
}
.MuiTypography-body1{
    font-size: 14px !important;
}
.gridItem {
    >div {
        padding: 10px 0px !important;
    }
  
}
.user-logo{
       
    padding: 5px;
    img{
        border-radius: 50% !important;
    }
}
.order-detail {
    background-color:#e0e0e04d !important;
    overflow: auto
}
.font-2  {
    font-size: 14px;
    font-weight: bold;
    color: rgba(10, 10, 10, 0.589);
    p{
        font-size: 14px !important;
        font-weight: bold;
        color: rgba(10, 10, 10, 0.589); 
    }
}
.warp-row {
 display: flex;
 width: 100%;
 justify-content: start;
 flex-wrap: wrap;
}
.textArea {
    background: #f1f1f1c9 !important;
}
.buttonContainer {
    display: flex;
    justify-content: start;
    margin-top: 17px;
}
.comment {
    margin: 21px 0px;
    word-wrap: break-word;
}
.pointer {
    cursor: pointer;
    color: blue !important;
}
.createBtn {
    display: flex;
    justify-content: end;
}
.MuiDialog-paperWidthSm {
    max-width: 835px !important;
    .note-toolbar {
        background: #eae6e6;
        border: 1px solid #dad7d7;
        text-align: left;
    }
}
@media (min-width: 1280px)
{   
    .MuiGrid-grid-lg-10 {
        flex-grow: 0;
        max-width: 78% !important;
        flex-basis: 78% !important;
    }
    .MuiGrid-grid-lg-2 {
        flex-grow: 0;
        max-width: 22% !important;
        flex-basis: 22% !important;
    }
 
}
@media (min-width: 1680px)
{   
    .MuiGrid-grid-lg-10 {
        flex-grow: 0;
        max-width: 82% !important;
        flex-basis: 82% !important;
    }
    .MuiGrid-grid-lg-2 {
        flex-grow: 0;
        max-width: 18% !important;
        flex-basis: 18% !important;
    }
 
}
.box {
    margin-top: 10px;
    padding: 30px 30px 30px 0px;
    width: 61%;
    >div {
        padding: 10px 10px 10px 0px;
    }
}
.p-10 {
    padding: 10px !important;
}
.closeBtn {
    float: right;
    color: white;
}
.pointerIcon {
    cursor: pointer;
}
.title-content{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
}
.title {
    font-size: 20px;
    text-align: center;
    padding: 10px;
}
.MuiTableCell-body .MuiSvgIcon-root{
    margin: 5px;
}
.carefolderContainer {
    max-width: 650px;
    margin: 0 auto;


}
.key-animation-container-shown{
    z-index: 500 !important;
    
}
.note-editable {
    height: 100% !important;
    min-height: 400px;
}
.downloadPaper {
    max-width: 895px !important;
    .pageContainer {
        min-height: 1123px;
        margin: 10px 0px;
        // .contentHtml {
        //     min-height: 800px;
        // }
    }    
}
.serviceContainer {
    display: flex;
    justify-content: space-evenly;
    svg{
        cursor: pointer;
    }
    >div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.headerBar {
    display: flex;
    justify-content: left;
    align-items: baseline;
    height: 100px;
    >h4 , div {
        margin-top: auto;
        margin-bottom: auto;
        color : #ff6a00
    }
    img {
        margin-right: 30px;
        margin-left: 30px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
}
.footerBar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
       color : #ff6a00
}
html{
    @page {
        margin:20 !important;
        padding: 0px 0px 0px 0px !important;
    }
}
.note-editing-area {
    text-align: left !important;
}
.triggerContainer {
    .MuiGrid-container {
        display: flex;
        justify-content: space-around !important;
        li{
            cursor: pointer;
            padding: 20px 0px;
            .MuiSvgIcon-root {
                font-size: 40px;
            }
        }
        .MuiCardContent-root {
            height: 100%;
        }
        .previewPanel {
            height: 100% !important;
            display: flex !important;
            flex-direction: column !important;
            justify-content: space-evenly !important;
           .triggerTitle {
            font-size: 20px;
            font-weight: 500;
            color: #1357ff;
            padding: 10px;
           }
          
            .k-multiselect-wrap ,.k-autocomplete{
           
                width: 100%;
                font-size: 12px;
                margin-left: 10px;
            }
            .MuiBox-root-636 , .MuiBox-root-637 .MuiBox-root-638{
                text-align: center;
                font-weight: bold;
                font-size: 15px;
            }
            .MuiPaper-elevation1 {
                margin-bottom: 20px;
            }
        }
    }
}